@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* styles/globals.css */
.hover_yellow:hover{
  background-color: rgb(253, 207, 2);

}

.bg_black{
  background-color: black;
}


.animate-float {
  animation: float 2s infinite;
}
/* Hide scrollbar for WebKit browsers */
.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.custom-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.overflowContainer::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for other browsers */
.overflowContainer {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;     /* Firefox */
}




@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

